<div class="container">
  <div class="row">
    <div class="col text-center">
        <img src="../img/aldy-imam-wijaya.png" alt="Aldy Imam Wijaya" class="img-thumbnail" width="150">
      <div class="display-4">Aldy Imam Wijaya</div>
      <p class="lead">Fresh Graduate | Backend Developer</p>
    </div>
  </div>
</div>
