.box {
  height: 100px;
}

.box:nth-child(odd) {
  background-color: salmon;
}

.box:nth-child(even) {
  background-color: lime;
}

.flex {
  display: flex;

  gap: 8px;
}

/* Silakan ubah nilai-nilai `flex-grow` berikut. */
.box1 {
  flex-grow: 3;
}

.box2 {
  flex-grow: 2;
}

.box3 {
  flex-grow: 1;
}
